.signUp-wrapper{
  padding-top: 5%;
  h3 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 2%;
  }
  .ui.form .field>label {
    font-weight: 400 !important
  }
  .ui.text.container {
    max-width: 600px!important;
  }
  .sign-up-container {
    h1 {
      margin-top: 50px!important;
    }
    .sign-up-form {
      padding: 0 50px 20px;
    }
  }
  .signup-footer-wrapper{
    padding-top: 2%; 
    .signup-footer-text{
      display: inline-block;
    }
    .signup-footer-btn{
      display: inline-block;
      padding-left: 2%; 
    }
  }
}

#form__confirm {
  margin-bottom: 0;
  margin-top: 23px;
}

#form__firstName, #form__lastName {
  width: 100%;
  padding: 0 5px;
}

#form__group {
  margin-bottom: 5px!important;
}

.group__field {
  margin-bottom: 10px!important;
}

