#user-info {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    .user-profile-logout-wrapper {
        padding-left: 30px;
        a {
          color: black !important;
        }
        a:hover {
            border-bottom: 0 !important;
        }
    }
}